.header{
    position: relative;
    @include mediaQuery($mobile){
        // width: 100%;
        // position: fixed;
        top: 0;
    }
    a{
        font-weight: bold;
    }
    .toggle__menu{
        display: none;
        @include mediaQuery($mobile){
            display: block;
            position: absolute;
            right: 3rem;
            transition: .8s ease-in-out;
        }
        span{
            width: 3.5rem;
            height: .3rem;
            background-color: $clr-primary;
            margin-bottom: .5rem;
            border-radius: 4rem;
            transition: 1s ease;
            display: block;
            position: a;
        }
        
    }
    .toggle__menu.open{
        span:first-child{
            transform: translateX(-1.5rem);
        }
        span:nth-child(2){
            transform: translateX(-0.8rem);
        }
    }

    .branding{

        a{
            font-size: 2rem;
            span{
                color: $clr-primary;
            }
        }
    }

    &__nav{
        @include mediaQuery($mobile){
            // display: none;
            position: absolute; 
            background-color: $clr-dark;
            top: 0;
            right: -100rem;
            width: 50%;
            height: 100vh;
            transition: .7s ease-in-out;
            ul{
                flex-direction: column;
                align-items: flex-start;
                margin-left: 3rem;
                margin-top: 5rem;
            }
            a{
                
            color: $clr-light;
            }
            
        }

        ul{
            
            li{

                a{
                    position: relative;

                    
                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $clr-primary;
                        left: 0;
                        bottom: -.5rem;
                        opacity: 0;
                        transition: .5s ease-in-out;
                    }
                    
                    &.active::after{
                        opacity: 1;
                    }
                    &:hover::after{
                        opacity: 1;
                    }
                }
                
            }
        }
        &.open{
            right: 0;
        }
    }
}